POSTGRES_USER=sentinel
POSTGRES_PASSWORD=change-me
POSTGRES_DB=sentinel
POSTGRES_PORT=5432
REDIS_PORT=6379

# openssl rand -base64 48
JWT_SECRET=change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

CORS_ALLOWED_ORIGIN=http://localhost:4200
FRONT_PORT=8084
GATEWAY_PORT=8080
INGESTION_PORT=8081
RULES_PORT=8082
NOTIFICATION_PORT=8083
